body {
    background-color: rgb(136, 85, 85);
    color: white;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Trebuchet MS',    'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: transparent;
    top: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    right: 0%;
    z-index: 2;
}

#bflix {
    font-size: 40px;
    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 193, 193);
}

.navLinkWrap {
    width: 50%;
    margin-left: 30%;
}

nav .navLinkWrap ul {
    justify-content: space-around;
    display: flex;
    flex-grow: 1;
    list-style: none;
}

nav ul li {
    margin-top: 4%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    right: 0%;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: rgb(6, 193, 193);
    transition: width 1s;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(6, 193, 193);
}

nav ul li a:hover::after {
    text-decoration: none;
    width: 100%;
}

nav.scrolled {
    background-color: rgb(22, 20, 20);
}

#background{
    background-color: rgb(22, 20, 20);
}

#background img {
    height: 90vh;
}
#abtus {
    display: inline-block;
}
#abt {
    text-align: center;
}

h3 {
    font-size: 45px;
    text-align: center;
    font-family: cursive;
    font-weight: 500;
    background-color: rgb(115, 65, 65);
}
h4 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}
P {
    padding: 1%;
    font-size: 25px;
}
div div img {
    height: 300px;
    padding: 10px;
    width: 70%;
    transition: all 0.5s ease;
}

div div img:hover {
    transform: scale(1.05);
}

footer {
    margin-bottom: 0%;
    background-color: rgb(22, 20, 20);
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    height: 120px;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: #aeaeae;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a img {
    height: 20px;
}